<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Robot</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

  <style>
    .contenedor{
     width: 400px;  
    }
  </style>

<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark d-flex justify-content-between">
      <a class="navbar-brand" href="#">Accionamiento brazo robótico</a>
    </nav>
    <div class="container " >
      <div class="row justify-content-center">
        <div class="contenedor">
          <img src="/static/imagen.jpg" class="img-fluid"  class="img-rounded">
        </div>
      </div>
    </div>
    <div class="container">
      <br><br>
      <div class="row">
        <div class="col">
          <h4>Digite los grados de movimiento</h4>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <input class="form-control" id="motor1" placeholder="Grados motor 1">
        </div>
        <div class="col">
          <input class="form-control" id="motor2" placeholder="Grados motor 2">
        </div>
        <div class="col">
          <input class="form-control" id="motor3" placeholder="Grados motor 3">
        </div>
      </div>
    
      <div class="row">
        <div class="col">
          <h5 id="contadordos"></h5>

        </div>
        <div class="col">
          <h5 id="contador"></h5>
        </div>
        <div class="col">
          
        </div>
      </div>
      <div class="row">
        <div class="col">
          <input class="form-control" id="motor4" placeholder="Grados motor 4">
        </div>
        <div class="col">
          <input class="form-control" id="motor5" placeholder="Grados motor 5">
        </div>
        <div class="col">
          <input class="form-control" id="motor6" placeholder="Grados motor 6">
        </div>
      </div>
       <br><br>
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-block btn-info" id="enviarGrados" >Enviar Grados</button>
        </div>
      </div>  
      <br>
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-block btn-warning" id="Home" >Posición Home</button>
        </div>
      </div>
    </div>


      
   
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js" charset="utf-8"></script>
      <script>
        const socket =io();
        var contador=document.getElementById("contador");
        var contadordos=document.getElementById("contadordos");
        var motor1=document.getElementById("motor1");
        var motor2=document.getElementById("motor2");
        var motor3=document.getElementById("motor3");
        var motor4=document.getElementById("motor4");
        var motor5=document.getElementById("motor5");
        var motor6=document.getElementById("motor6");
        var boton=document.getElementById("enviarGrados");
        var botonHome=document.getElementById("Home");
        

          //enviar indicacion al server cuando se presione home
        botonHome.addEventListener('click',function(){
          socket.emit('posicionHome')
        });  
          //enviar grados al server
        boton.addEventListener('click',function(){
          var arr = [motor1.value,motor2.value,motor3.value,motor4.value,motor5.value,motor6.value];
          socket.emit('enviarGrados',arr);

      });
/*
         socket.emit('contador');
          //escuchar server 
          socket.on('contador',(contador1)=>{
             console.log(contador1)
           contador.innerHTML=contador1;
          });

          //socket.emit('contadordos');
          //escuchar server 
          */
          //socket.emit('message');
          socket.on('message',(contador2)=>{
             console.log(contador2)
           contadordos.innerHTML=contador2;
           contador.innerHTML=contador2;
          });
</script>
   
        
  </body>


</html>